.dataset_intro_line {
    position: absolute;
    width: 100%;
    height: 20%;
}

.dataset_intro_key {
    position: absolute;
    left: 0;
    width: 55%;
    height: 100%;
    color: #efefef;
    font-size: 12px;
}

.dataset_intro_value {
    position: absolute;
    right: 20px;
    width: 45%;
    height: 100%;
    color: #efefef;
    font-size: 12px;
    text-align: right;
}

.region_para_line {
    position: absolute;
    left: 3%;
    width: 60%;
    height: 25%;
    /* background-color: aqua; */
}

#region_background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 60%;
    left: -10px;
}

#region_para {
    position: absolute;
    top: 60%;
    width: 100%;
    height: 40%;
    /* background-color: red; */
}

.custom_form-control {
    position: absolute;
    height: 80%;
    width: 30%;
}

.drifting_line {
    position: absolute;
    width: 30%;
    height: 8%;
    left: 3%;
    color: #333;
}


/* ------------------------------------------------------------------------------- */

.member_window {
    width: 100%;
    height: 100%;

    position: relative;
    overflow: auto;
    /* background-color: #FFF5EE; */
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #333;
}

.member_block {
    position: absolute;
    /* background-color: bisque; */
    /* background-color: white; */
    width: 30%;
    height: 40%;
}

.valid_border {
    border-style: solid;
    border-width: 1.5px;
    border-color: black;
}


/* ------------------------------------------------------------------------------------ */

#time_pic {
    position: absolute;
    width: 100%;
    height: 40%;
    /* background-color: #FFF5EE; */
}

#pic_box {
    position: absolute;
    left: 10%;
    top: 3%;
    width: 80%;
    height: 60%;
}

#pic_time_range {
    position: absolute;
    left: 10%;
    top: 75%;
    width: 80%;
    height: 5%;
    /* background-color: blue; */
}

#pic_time_label {
    position: absolute;
    left: 25%;
    top: 80%;
    width: 50%;
    height: 10%;
    /* background-color: blue; */
}

#detail_box {
    position: absolute;
    top: 40%;
    width: 100%;
    height: 60%;
    /* background-color: #B0E0E6; */
}

.detail_chart {
    position: absolute;
    width: 80%;
    height: 40%;
    left: 10%;
    /* background-color: cadetblue; */
}